@using HorsesForCourses.Service


@model PagedResult<CourseListResponse>

<h2>Courses</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Has schedule</th>
            <th>Has coach</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Finalise</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Items)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Name</td>
                <td>@course.startdate</td>
                <td>@course.enddate</td>
                <td>@course.hasSchedule</td>
                <td>@course.hasCoach</td>
                <td>@course.State</td>
                <td><a class="nav-link text-dark" asp-area="" asp-controller="CourseMVC" asp-action="Details"
                        asp-route-id="@course.Id">Details</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="CourseMVC" asp-action="EditSkillsMenu"
                        asp-route-id="@course.Id">Edit skill requirements</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="CourseMVC" asp-action="EditTimeslotsMenu"
                        asp-route-id="@course.Id">Edit schedule</a>
                </td>
                <td>
                    <form asp-controller="CourseMVC" asp-action="ConfirmCourse" method="post" style="display:inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" value="@course.Id" />
                        <button type="submit" class="btn btn-success btn-sm confirm-btn" @(course.State.ToString() !=
                                                                                                                 "PENDING" ? "disabled" : "")>
                            @(course.State.ToString() != "PENDING" ? "Confirmed" : "Confirm course")</button>
                    </form>
                    <form asp-controller="CourseMVC" asp-action="AssignCoachMenu" method="get" style="display:inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" value="@course.Id" />
                        <button type="submit" class="btn btn-success btn-sm" @(course.State.ToString() != "CONFIRMED" ?
                                                                                                     "disabled" : "")>
                            @(course.State.ToString() == "FINALISED" ? "Finalised" : "Assign Coach")</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function disableButton(form) {
        const button = form.querySelector('.confirm-btn');
        if (!button.disabled) {
            button.disabled = true;
            button.innerText = 'Confirmed...';
        }
    }
</script>